{% load i18n %}

{% if app_list %}
  {# Este bucle recorre cada aplicación (como 'Notas', 'Autenticación y autorización', etc.) #}
  {% for app in app_list %}
    <div class="app-{{ app.app_label }} module">
      <table>
      <caption>
        {# Muestra el nombre de la aplicación como un enlace a su lista de modelos #}
        <a href="{{ app.app_url }}" class="section" title="Modelos en la aplicación {{ app.name }}">{{ app.name }}</a>
      </caption>
      {# Dentro de cada aplicación, este bucle recorre cada modelo (como 'Estudiantes', 'Cursos', etc.) #}
      {% for model in app.models %}
        <tr class="model-{{ model.object_name|lower }}">
          {% if model.admin_url %}
            <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
          {% else %}
            <th scope="row">{{ model.name }}</th>
          {% endif %}

          {% if model.add_url %}
            <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
          {% else %}
            <td></td>
          {% endif %}

          {% if model.admin_url %}
            <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endfor %}
{% else %}
  <p>{% translate "You don't have permission to view or edit anything." %}</p>
{% endif %}
