{% extends "notas/base_portal.html" %}
{% load static %}

{% block portal_content %}
{# Este nuevo div contenedor es clave para el "sticky footer" #}
<div class="d-flex flex-column min-vh-100 portal-publico-container">
    
    {# Incluimos la barra de navegación superior #}
    {% include "notas/portal_components/_portal_header.html" %}

    {# El contenido principal ahora crecerá para ocupar el espacio disponible #}
    <main class="flex-grow-1">
        {% include "notas/portal_components/_portal_main_content.html" %}
    </main>
    
    {# Incluimos el pie de página que ahora se quedará abajo #}
    {% include "notas/portal_components/_portal_footer.html" %}

</div>
{% endblock portal_content %}
