{# Este pequeño archivo renderiza una sola fila de un modelo #}
{% load i18n %} {# <-- CORRECCIÓN: Se añade esta línea para cargar la etiqueta 'translate' #}

<tr class="model-{{ model.object_name|lower }}">
    {% if model.admin_url %}
        <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
    {% else %}
        <th scope="row">{{ model.name }}</th>
    {% endif %}

    {% if model.add_url %}
        <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
    {% else %}
        <td></td>
    {% endif %}

    {% if model.admin_url and model.view_only %}
        <td><a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a></td>
    {% elif model.admin_url %}
        <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
    {% else %}
        <td></td>
    {% endif %}
</tr>
