<footer class="portal-footer mt-5 py-4 bg-dark text-white">
    <div class="container-fluid px-4">
        <div class="row text-center align-items-center">
            <div class="col-md-8 mb-3 mb-md-0">
                <p class="mb-1">&copy; {% now "Y" %} I.E.T. Alfonso Palacio Rudas. Todos los derechos reservados.</p>
                <p class="small text-white-50">Dirección: Carrera 31 N° 12A - 124, Honda, Tolima | Teléfono: 2513092</p>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase small fw-bold text-white-50">Síguenos</h6>
                <a href="https://www.facebook.com/iet.alfonso.palacio.rudas.honda" target="_blank" class="btn btn-outline-light btn-floating m-1" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/nombredeusuario" target="_blank" class="btn btn-outline-light btn-floating m-1" role="button">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="btn btn-outline-light btn-floating m-1" role="button">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
