<!-- notas/portal_components/_portal_footer.html -->
<footer class="portal-footer py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-1">&copy; {% now "Y" %} {{ colegio.nombre }}. Todos los derechos reservados.</p>
                 <div class="contact-info mb-3">
                    {% if colegio.telefono %}<i class="fas fa-phone-alt me-2"></i> {{ colegio.telefono }}{% endif %}
                    {% if colegio.email_contacto %}<i class="fas fa-envelope ms-3 me-2"></i> {{ colegio.email_contacto }} {% endif %}
                    <p class="col-12 text-center">{{ colegio.direccion }}, {{ colegio.ciudad }}</p>
                </div>
                
                <div>
                </div>
            </div>
        </div>
    </div>
</footer>